@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Averta-CY-Regular";
  src: url("/AvertaCY-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Averta-CY-Semibold";
  src: url("/AvertaCY-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Averta-CY-Bold";
  src: url("/AvertaCY-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Averta-CY-Extrabold";
  src: url("/AvertaCY-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Averta-CY-Regular";
  font-size: 22px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* join our workforce styling */
.vertical-rl {
  writing-mode: vertical-rl;
}
h1 {
  @apply leading-[1.59rem] lg:leading-[3.18rem] md:leading-[2.18rem];
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: clamp(3rem, 1.6827rem + 1.4103vw, 3.7rem);
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: clamp(2rem, 1.6827rem + 1.4103vw, 3.375rem);
  font-weight: 600;
  margin: 0;
}

input,
textarea {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  letter-spacing: 0.8px;
  backdrop-filter: blur(10px);
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
  color: #009000;
}

.pri-btn {
  @apply bg-primary-blue border-solid border-[1px] border-primary-blue;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}
.box-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.t-b-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.custom-container-max-width {
  margin: auto;
  max-width: 1140px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container-width {
    padding-inline: 10px;
  }

  .t-b-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .custom-container-max-width {
    padding-inline: 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*CONTAINER WIDTH  */
.container-width {
  @apply py-[0px]  overflow-hidden px-3 md:px-5 lg:px-5;
}
.modal-container-width {
  @apply mx-[20px] lg:mx-[100px] max-w-[1300px] py-[0px] px-[20px] overflow-hidden;
}

/* NAVBAR CSS */

.nav-main-container {
  @apply sticky top-0 left-0 bg-white py-[10px] shadow-[0px_4px_24px_rgba(0,_0,_0,_0.05)];
  position: -webkit-sticky;
}

.nav-wrapper-container {
  @apply flex justify-between items-center;
  margin: auto;
  max-width: 1140px;
}

@media only screen and (max-width: 768px) {
  .nav-wrapper-container {
    padding-inline: 10px;
  }
}

.logo {
  max-width: 100%;
}

.nav-menu {
  @apply justify-between gap-y-5;
}

.nav-menu ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* HOME PAGE CSS */
/* HERO */
.hero-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  column-gap: 20px;
  padding: 80px 0px;
  overflow: hidden;
}

.hero-section-wrapper h1 {
  font-size: clamp(4rem, 400%, 6rem);
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  line-height: 5.5rem;
  margin: 0px auto;
  padding: 10px;
}

.hero-section-wrapper > div {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1 1 calc(50vw - 100px);
}

.hero-section-wrapper p {
  font-size: clamp(1.2rem, 0.4718rem + 1.6901vw, 2.5rem);
}

.ball-effect-container-wrapper {
  position: relative;
  left: 0;
  top: 0;
  min-width: 605px;
  min-height: 300px;
  cursor: pointer;
}

.sbm-ball h1 {
  @apply bg-primary-blue;
  color: #ffffff;
  clip-path: circle(30% at 25%);
  animation: ballmove 5000ms;
  transition: all 5000ms cubic-bezier(0.22, -0.22, 0.72, 1.2);
  animation-fill-mode: backwards;
}

.hero-section-wrapper img {
  width: 100%;
}

@keyframes ballmove {
  0% {
    clip-path: circle(30% at 25%);
  }
  /* 25% {
      clip-path: circle(30% at 50%);
  } */
  50% {
    clip-path: circle(25% at 69.5%);
  }
  100% {
    clip-path: circle(30% at 25%);
  }
}

.ball-effect-container-wrapper:hover .sbm-ball h1 {
  animation: ballmove 5000ms infinite;
  animation-play-state: backwards;
  animation-fill-mode: both;
  animation-delay: 3s;
  transition: all 5000ms cubic-bezier(0.22, -0.22, 0.72, 1.2);
}

.sbm-hero-mobile-img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sbm-hero-mobile-img img {
  width: calc(50% - 20px);
}

@media screen and (max-width: 768px) {
  .hero-section-wrapper {
    flex-direction: column;
    padding: 40px 0px;
  }

  .hero-section-wrapper > div {
    max-width: calc(95vw - 40px);
  }

  .ball-effect-container-wrapper {
    max-width: calc(95vw - 40px);
    min-height: 270px;
  }

  .hero-section-wrapper h1 {
    max-width: calc(95vw - 40px);
    font-size: 4.5rem;
    word-wrap: break-word;
  }

  .hero-section-wrapper p {
    margin-block: 20px;
  }

  .sbm-hero-desktop-img {
    display: none !important;
  }
}

@media screen and (max-width: 557px) {
  .hero-section-wrapper h1 {
    max-width: calc(95vw - 40px);
    font-size: 2.8rem;
    line-height: 3.5rem;
    word-wrap: break-word;
  }

  .hero-section-wrapper p {
    margin-block: 20px;
  }

  .ball-effect-container-wrapper {
    min-height: 190px;
  }
}

@media screen and (max-width: 373px) {
  .hero-section-wrapper h1 {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .ball-effect-container-wrapper {
    min-height: 160px;
  }

  .hero-section-wrapper > div {
    gap: 5px;
  }

  .hero-section-wrapper p {
    margin-top: 0px;
  }
}

/* ABOUT US HERO STYLYING */
.about-page-hero-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  padding-block: 80px;
}

.about-first-print {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.about-first-print > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 calc(50% - 20px);
}

.about-pulse {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.circle-pulse-one,
.circle-pulse-two,
.circle-pulse-three,
.circle-pulse-four {
  border-radius: 100px;
  transition: all 1000ms ease-in-out;
}

.circle-pulse-one {
  width: 50px;
  height: 50px;
  background-color: #c2ddff;
}

.circle-pulse-two {
  width: 70px;
  height: 70px;
  background-color: #ea8389;
}

.circle-pulse-three {
  width: 90px;
  height: 90px;
  background-color: #b4d479;
}

.circle-pulse-four {
  @apply bg-primary-blue w-[110px] h-[110px];
}

.about-page-hero-section:hover .circle-pulse-one {
  transform: scale(2.1) translate(10px, 0px);
}

.about-page-hero-section:hover .circle-pulse-two {
  transform: scale(1.2) translate(50px, 0px);
}

.about-page-hero-section:hover .circle-pulse-three {
  transform: scale(0.8) translate(70px, 0px);
}

.about-page-hero-section:hover .circle-pulse-four {
  transform: scale(0.45) translate(30px, 0px);
}

.about-page-hero-section p {
  max-width: 840px;
  line-height: 2rem;
}

.circle-pulse-one:hover,
.circle-pulse-two:hover,
.circle-pulse-three:hover,
.circle-pulse-four:hover {
  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #c2ddff79;
    box-shadow: 0 0 0 0 #c2ddff79;
  }
  70% {
    -moz-box-shadow: 0 0 0 30px #c2ddff00;
    box-shadow: 0 0 0 30px #c2ddff00;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #c2ddff00;
    box-shadow: 0 0 0 0 #c2ddff00;
  }
}

@media screen and (max-width: 768px) {
  .about-page-hero-section {
    padding-block: 40px;
    row-gap: 0px;
  }

  .about-first-print > div {
    justify-content: center;
  }

  .about-pulse {
    display: none !important;
  }
}

.sbm-value-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.sbm-value-title-container h3 {
  text-transform: capitalize;
  max-width: 1000px;
}

.abt-box-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.abt-box-group > div {
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.sbm-value-title-container h3,
.abt-box-group h5,
.abt-box-group p {
  text-align: center;
}

.abt-box-group h5 {
  font-size: 2rem;
  font-weight: 700;
}

.abt-box-group p {
  max-width: 150px;
}

@media screen and (max-width: 768px) {
  .abt-box-group {
    margin-bottom: 60px;
  }
  .abt-box-group p {
    max-width: 120px;
  }

  .sbm-value-right-box {
    transform: translate(0px, 40px);
  }
}

.abt-mission-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.abt-mission-sec > div {
  flex: 1 1 calc(50% - 40px);
}

.abt-mission-sec img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .abt-mission-sec {
    flex-direction: column;
  }
}

/* TYPING CSS */
.home-proof-title:has(p, h3) {
  text-align: center;
}

.home-proof-title {
  max-width: 45rem;
}

.typing-txt-width {
  display: inline-grid;
  display: -ms-inline-grid;
  text-align: left;
  width: 165px;
  height: 67px;
}

.text-typing::after {
  content: "better";
  display: inline-grid;
  display: -ms-inline-grid;
  width: 0px;
  overflow: hidden;
  border-right: solid 2px;
  animation: typewriter 10s steps(8) 0s infinite both,
    typeCursor 500ms steps(8) infinite;
}

@keyframes typewriter {
  0% {
    width: 0;
    content: "louder";
    color: #bc5449;
  }
  35% {
    width: 165px;
    content: "louder";
    color: #bc5449;
  }
  45% {
    width: 0;
    content: "louder";
    color: #bc5449;
  }
  50% {
    @apply text-primary-blue;
    width: 0;
    content: "better";
  }
  85% {
    @apply text-primary-blue;
    width: 162px;
    content: "better";
  }
  95% {
    @apply text-primary-blue;
    width: 0px;
    content: "better";
  }
}

@keyframes typeCursor {
  from {
    @apply border-r-primary-blue;
  }
  to {
    border-right-color: transparent;
  }
}

/* ABOUT MISSION STYLE */
.abt-mission-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.abt-mission-sec > div {
  flex: 1 1 calc(50% - 40px);
}

.abt-mission-sec img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .abt-mission-sec {
    flex-direction: column;
  }
}

.autoslide-wrapper img {
  max-width: 250px;
  width: 100%;
}

.carousel {
  display: flex !important;
  flex-direction: row;
}

/* ABOUT PAGE WORKSPCE SECTION CSS */
.sbm-value-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.sbm-value-title-container h3 {
  text-transform: capitalize;
  max-width: 1000px;
}

.abt-box-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.abt-box-group > div {
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.sbm-value-title-container h3,
.abt-box-group h5,
.abt-box-group p {
  text-align: center;
}

.abt-box-group h5 {
  font-size: 2rem;
  font-weight: 700;
}

.abt-box-group p {
  max-width: 150px;
}

@media screen and (max-width: 768px) {
  .abt-box-group {
    margin-bottom: 60px;
  }
  .abt-box-group p {
    max-width: 120px;
  }

  .sbm-value-right-box {
    transform: translate(0px, 40px);
  }
}

/* CTA COMPONENT CSS */
.full-width-sbm-cta {
  background-image: url("https://assets.socialbrandmanagers.com/AboutPage%20Images/CTA%20Background_SBM.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.sbm-cta-container h3 {
  margin-bottom: 10px;
}

.sbm-cta-container {
  padding-block: 40px;
}

.sbm-cta-container :where(a, p) {
  margin: 0px;
}

.sbm-cta-container a {
  @apply text-primary-blue border-primary-blue;
  display: flex;
  max-width: fit-content;
  max-width: -moz-fit-content;
  border-bottom: solid 2px;
}

.btn-container-ani {
  display: flex;
}

.btn-icon-ani {
  display: flex;
  width: 0px;
  overflow: hidden;
  transform: translateX(-1px);
  transition: width 250ms ease-in-out;
}

a:hover .btn-icon-ani {
  width: 15px;
  transform: translateX(2px);
}

@media screen and (max-width: 768px) {
  .full-width-sbm-cta {
    background-image: url("https://assets.socialbrandmanagers.com/CTA%20mobile%20BG.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

/* SERVICE CSS */
.sbm-service-container {
  padding-top: 80px;
}

.sbm-service-title-box {
  max-width: 740px;
  margin: auto;
}

.sbm-service-container h2 {
  text-align: center;
}

.services-svg-bg {
  position: relative;
}

.services-svg-bg svg {
  position: absolute;
  right: 0px;
  bottom: 0;
}

.service-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  margin-block: 70px;
  box-shadow: 0px 4px 10px 0px rgba(16, 83, 165, 0.25);
}

.service-container-img {
  @apply relative h-full lg:min-w-[400px] min-w-[344px];
  overflow: hidden;
}

.service-container-img img {
  object-fit: cover;
  object-position: 0px 10%;
}

.service-container-text {
  padding-inline: 50px;
  background-color: #ffffff;
  border-radius: 20px;
}

.service-container-text h4 {
  text-transform: capitalize;
}

.service-container-text .pri-btn {
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  padding: 15px;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .services-svg-bg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sbm-service-container {
    padding-top: 40px;
  }

  .sbm-service-container h2 {
    font-size: 2rem;
  }

  .service-container {
    flex-direction: column;
  }

  .service-container-img {
    max-height: 100%;
    max-width: 100%;
    width: calc(100vw - 20px);
  }

  .service-container-img img {
    width: fit-content;
    width: -moz-fit-content;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .service-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
  }
}

/* PORTFOLIO PAGE CSS */
.portfolio-sec {
  padding-bottom: 100px;
}

.portfolio-hero-sec {
  @apply flex justify-evenly;
}

.portifolio-card-list {
  display: grid;
  align-items: start;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* .portfolio-card {
  @apply relative rounded-[20px] h-[300px] overflow-hidden;
  padding: 50px 50px 0px 50px;
  flex: 1 0 calc(50% - 150px);
  transition: all 1500ms ease-in-out 200ms;
} */

.project-cards-right {
  transform: translateY(100px);
}

.portifolio-card-list > div {
  display: grid;
  gap: 40px;
}

.portfolio-card:nth-child(2n-1) {
  background-color: #d9e4f1;
}

.portfolio-card:nth-child(2n-1) h4 {
  color: #0048a0;
}

.portfolio-card:nth-child(2n + 0) {
  background-color: #f1e6e5;
}

.portfolio-card:nth-child(2n + 0) h4 {
  color: #97544d;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-height: 400px;
  border-radius: 40px;
  padding: 50px 30px 0px;
  overflow: hidden;
  /* transition: all 350ms cubic-bezier(0, 0.24, 0, 1.51) 50ms; */
  /* transition: all 1500ms cubic-bezier(1, 2.04, 0.28, -0.55) 150ms; */
  /* transition: all 1500ms cubic-bezier(0.57, 1.4, 0.44, -0.43) 150ms; */
  transition: all 500ms ease-in-out 100ms;
  cursor: pointer;
}

.portfolio-card p {
  margin: 0px;
}

.portfolio-card-data {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  /* transition: all 250ms ease-in-out 50ms; */
  transition: all 500ms ease-in-out 200ms
}

.portfolio-card-data a {
  color: #0048a0;
}

.portfolio-card-img {
  text-align: right;
}

.portfolio-card img {
  max-width: 440px;
  width: 70%;
  margin-bottom: -6px;
  margin-top: 10px;
  /* transition: all 450ms cubic-bezier(0.99, 0.39, 0.59, 1.52) 150ms; */
  /* transition: all 450ms cubic-bezier(0.35, -0.27, 0.66, 1.29) 150ms; */
  transition: all 800ms ease-in-out 0ms
}

.portfolio-card:hover {
  max-height: 600px;
}

.portfolio-card:hover .portfolio-card-data {
  opacity: 1;
  height: 100%;
  /* height: --moz-fit-content; */
  overflow: hidden;
}

.portfolio-card:hover img {
  width: 100%;
}

/* Form Styling */
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

/* JOIN OUR WORKFORCE */
.jowf-container {
  position: fixed;
  top: 20%;
  left: 100%;
  width: fit-content;
  width: -moz-fit-content;
  z-index: 999;
  transform: rotate(90deg);
}

.jowf-container span {
  position: absolute;
  left: 100%;
  top: 10%;
  flex-wrap: nowrap;
  color: #ffffff;
  @apply bg-primary-blue;
  padding: 5px 10px;
}

.jowfhero-wrapper {
  background-image: url(https://assets.socialbrandmanagers.com/Join%20Our%20Workforce/join-our-work-force-background-vector.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

.jowfhero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.jowfhero-container > div {
  flex: 1 0 500px;
}

@media screen and (max-width: 768px) {
  .jowfhero-wrapper {
    background-size: 100%;
  }

  .jowfhero-container img {
    max-width: calc(100vw - 20px);
  }
}

.criteria-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.criteria-wrapper > div {
  flex: 1 0 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.criteria-each {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  min-height: 110px;
}

.criteria-number {
  display: flex;
  min-width: 50px;
  height: 50px;
  border-radius: 100px;
  @apply bg-primary-blue;
}

.criteria-number > span {
  margin: auto;
  color: #ffffff;
}

.criteria-each p {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .criteria-wrapper > div {
    max-width: calc(100vw - 40px);
  }

  .criteria-each {
    min-height: fit-content;
    min-height: -moz-fit-content;
  }
}

.obm-container {
  border-top-right-radius: 400px;
}

.obm-wrapper {
  margin: auto;
  text-align: center;
}

.obm-wrapper p {
  font-size: 28px;
}

.brandmanagerlist-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-auto-flow: 310px;
}

.brandmanagerlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.brandmanagerlist-image {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  overflow: hidden;
}

.brandmanagerlist-container:hover .brandmanagerlist-image img {
  transform: scale(1.2);
}

.brandmanagerlist-wrapper img {
  max-width: 70px;
  width: 100%;
  transition: transform 450ms ease-in-out 50ms;
}

.brandmanagerlist-container p {
  text-align: center;
  font-family: Averta CY;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px;
}

.brandmanagerlist-container > div {
  display: flex;
  font-size: 16px;
  gap: 15px;
}

.pri-btn, .sec-btn {
  cursor: pointer;
}

.brandmanagerlist-container .pri-btn,
.brandmanagerlist-container .sec-btn {
  padding: 5px 10px;
}

.brandmanagerlist-container .pri-btn a,
.brandmanagerlist-container .sec-btn:hover a {
  color: #ffffff;
}

.brandmanagerlist-container .sec-btn:hover a {
  @apply text-primary-blue;
}

.brandmanagerlist-container .pri-btn:hover a {
  /* @apply text-primary-blue; */
  color: #000000;
}

@media screen and (max-width: 768px) {
  .brandmanagerlist-wrapper {
    display: flex;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .brandmanagerlist-wrapper::-webkit-scrollbar {
    display: none;
  }

  .brandmanagerlist-wrapper > div {
    min-width: 250px;
  }
}

/* Modal */

.modal {
  @apply fixed z-20 left-0 right-0 top-0 bottom-0 mx-auto bg-black/80;
}

.modal_wrapper {
  @apply flex justify-start items-center flex-col modal-container-width absolute h-[75%]  lg:bottom-[50px] bottom-0 bg-[#F6F6F6] rounded-t-3xl lg:rounded-b-3xl rounded-b-[0px] lg:px-32 px-8 pt-14 pb-72 overflow-auto;
}

/* CARET */

.caret {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

/* FEATURES IMAGE */

.features-image1,
.features-image2,
.features-image3,
.features-image4 {
  overflow: hidden;
}

.features-grid-container {
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.features-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  height: 500px;
  border-radius: 20px;
}

.features-grid-container > div h5 {
  position: absolute;
  top: 180px;
  left: auto;
}

.features-image1 .child {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://assets.socialbrandmanagers.com/features%20images/features%20image1.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.features-image1 .child:hover,
.features-image1 .child:focus {
  transform: scale(1.2);
  transition: all 0.5s;
}

.features-image2 .child {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://assets.socialbrandmanagers.com/features%20images/feature%20image2.png);
  background-position: center;
  background-size: cover;
}
.features-image2 .child:hover,
.features-image2 .child:focus {
  transform: scale(1.2);
  transition: all 0.5s;
}

.features-image3 .child {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://assets.socialbrandmanagers.com/features%20images/feature%20image%203.png);
  background-position: center;
  background-size: cover;
}

.features-image3 .child:hover,
.features-image3 .child:focus {
  transform: scale(1.2);
  transition: all 0.5s;
}

.features-image4 .child {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://assets.socialbrandmanagers.com/features%20images/feature%20image%204.png);
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.features-image4 .child:hover,
.features-image4 .child:focus {
  transform: scale(1.2);
  transition: all 0.5s;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

/* HOME BENEFITS */
.home-benefit-main {
  background-image: url(https://assets.socialbrandmanagers.com/benefit%20assests/benefits%20main%20image.png);
  background-position: center;
  background-size: cover;
}

.icon {
  margin-top: 10px;
}

.homeIcon {
  width: 100px;

  height: 100px;

  margin-top: 20px;
}

.benefit-card-text {
  margin-left: 30px;
  margin-right: 30px;
}

/* SEAL THE DEAL */
.list-container {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 10;
}

#progressbarContainer {
  position: relative;
  width: 90%;
  margin: auto;
  height: 605px;
  margin-top: 65px;
}

#progressbarContainer li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: #0048a0;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}

#progressbarContainer li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#progressbarContainer li.active,
#progressbarContainer li:hover {
  color: #0048a0;
}

#progressbarContainer .line1:after {
  content: " 1";
  color: white;
  font-size: 25px;
  display: block;
  width: 50px;
  height: 50px;
  background: #0048a0;
  margin: auto;
  border: solid 7px #0048a0;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}

#progressbarContainer .line2:after {
  content: " 2";
  color: white;
  font-size: 25px;
  display: block;
  width: 50px;
  height: 50px;
  background: #0048a0;
  margin: auto;
  border: solid 7px #0048a0;
  border-radius: 50%;
  margin-top: 40px;
  transition: all ease 0.2s;
}

#progressbarContainer .line3:after {
  content: "3";
  color: white;
  font-size: 25px;
  display: block;
  width: 50px;
  height: 50px;
  background: #0048a0;
  margin: auto;
  border: solid 7px #0048a0;
  border-radius: 50%;
  margin-top: 40px;

  transition: all ease 0.2s;
}

#progressbarContainer li:hover:after {
  background: #0048a0;
}

#progressbarContainer li.active:after {
  background: #0048a0;
}

#progressbarContainer #line {
  width: 40px;
  margin: auto;
  background: transparent;
  height: 448px;
  position: absolute;
  left: 754px;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progressbarContainer #line-progress {
  content: "";
  width: 100%;
  height: 30%;
  @apply bg-primary-blue;
  background: linear-gradient(to bottom, #0369a9 0%, #0048a0 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

.slider-image {
  transition: transform 3s ease-in-out;
}

/* PROOF SECTION CSS */
.home-proof-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
  background-image: url(https://assets.socialbrandmanagers.com/home%20page/Servies%20interactions%20-%20BG.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-proof-title:has(p, h3) {
  text-align: center;
}

.home-proof-title {
  max-width: 45rem;
}

.typing-txt-width {
  display: inline-grid;
  display: -ms-inline-grid;
  text-align: left;
  width: 150px;
  height: 67px;
}

.text-typing::after {
  content: "better";
  display: inline-grid;
  display: -ms-inline-grid;
  width: 0px;
  overflow: hidden;
  border-right: solid 2px;
  animation: typewriter 10s steps(8) 0s infinite both,
    typeCursor 500ms steps(8) infinite;
}

@keyframes typewriter {
  0% {
    width: 0;
    content: "louder";
    color: #bc5449;
  }
  35% {
    width: 155px;
    content: "louder";
    color: #bc5449;
  }
  45% {
    width: 0;
    content: "louder";
    color: #bc5449;
  }
  50% {
    width: 0;
    content: "better";
    color: #0048a0;
  }
  85% {
    width: 150px;
    content: "better";
    color: #0048a0;
  }
  95% {
    width: 0px;
    content: "better";
    color: #0048a0;
  }
}

@keyframes typeCursor {
  from {
    border-right-color: #0048a0;
  }
  to {
    border-right-color: transparent;
  }
}

.splide__pagination,
.splide__arrow {
  display: none !important;
}

.autoslide-wrapper img {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .typing-txt-width {
    width: 98px;
    height: 40px;
  }

  @keyframes typewriter {
    0% {
      width: 0;
      content: "louder";
      color: #bc5449;
    }
    35% {
      width: 110px;
      content: "louder";
      color: #bc5449;
    }
    45% {
      width: 0;
      content: "louder";
      color: #bc5449;
    }
    50% {
      width: 0;
      content: "better";
      color: #0048a0;
    }
    85% {
      width: 105px;
      content: "better";
      color: #0048a0;
    }
    95% {
      width: 0px;
      content: "better";
      color: #0048a0;
    }
  }
}

/* TESTIMONY SECTION */
.sbm-testimonial-wrapper {
  display: grid;
  place-content: center;
  padding: 80px 0px 80px 20px;
  overflow-x: hidden;
}

.sbm-testimonial-wrapper > div {
  text-align: center;
}

.sbm-testimonial-wrapper h4 {
  font-weight: 400;
}

.sbm-testimonial-wrapper h3,
.sbm-testimonial-wrapper h4 {
  max-width: 450px;
  margin: auto;
}

.testimonial-cards-wrapper {
  margin-top: 50px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.testimonial-cards-wrapper::-webkit-scrollbar,
.testimonial-cards::-webkit-scrollbar {
  display: none;
}

.testimonial-cards {
  display: flex;
  gap: 20px;
  margin-top: auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.testimonial-cards > div {
  min-width: 400px;
}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  cursor: pointer;
}

.testimonial-card-img-wrapper {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  overflow: hidden;
  margin: auto;
}

.testimonial-card img {
  max-width: 75px;
  width: 100%;
  transition: all 550ms ease-in-out 50ms;
}

.testimonial-card:hover img {
  transform: scale(1.3);
}

@media screen and (max-width: 768px) {
  .testimonial-cards > div {
    min-width: 250px;
  }
}

/* Three Steps */
.home-threeslide-heading {
  text-align: center;
  display: flex;
  justify-content: center;
}

.slider-container {
  display: grid;
  grid-template-columns: 1fr 30%;
  column-gap: 20px;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}

.slider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.slide {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%) rotate(-35deg);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.slide.active {
  opacity: 1;
  max-width: 500px;
  width: 90%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.slide.next {
  opacity: 0;
  transform: translate(-0%, -50%) rotate(35deg);
}

.slide video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border: solid 15px;
  border-radius: 25px;
}

.slider-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  width: 100%;
}

.navigator {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.4em;
  cursor: pointer;
  color: #747474;
  transition: all 700ms ease-in-out;
}

.navigator-number {
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  transition: all 500ms ease-in-out;
}

.navigator-text p {
  margin: 0px;
}

.navigator-number span {
  display: grid;
  place-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: all 500ms ease-in-out;
}

.navigator.active .navigator-number span,
.navigator.on .navigator-number span {
  background-color: #0048a0;
  color: #ffffff; 
}

.navigator.active .navigator-text p,
.navigator.on .navigator-text p {
  color: #000000;
}

.num-flow {
  position: relative;
}

/* .nav-num-2 .navigator-number {
  transition: background-color 1500ms ease-in-out;
} */

.num-flow::after {
  content: "";
  position: absolute;
  top: 50px;
  height: 0px;
  width: 15px;
  border-radius: 30px;
  z-index: -1;
  background-color: #0048a0;
  transition: all 2000ms ease-in-out 0ms;
}

.onflow .num-flow::after {
  height: 170px;
}

@media only screen and (max-width: 900px) {
  .slider-container {
    grid-template-columns: 1fr;
    align-content: center;
    gap: 40px;
    margin-top: -40px;
  }

  .slider {
    aspect-ratio: 16/9;
    max-width: 95vw;
    width: 100%;
    height: 100%;
  }

  .slider-navigation {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .navigator {
    flex-direction: column;
    gap: 10px;
  }

  .navigator-number {
    font-size: 20px;
  }

  .navigator-text p {
    font-size: 0.51em;
    text-align: center;
  }

  .num-flow::after {
    top: 25px;
    left: 50px;
    height: 20px;
    width: 0px;
  }

  .onflow .num-flow::after {
    height: 20px;
    width: 195px;
  }
}

@media only screen and (max-width: 550px) {
  .slider-container {
    height: 50vh;
    margin-top: -10px;
  }

  .onflow .num-flow::after {
    width: 160px;
  }
}

@media only screen and (max-width: 450px) {
  .slide.active {
    max-width: 370px;
    width: 85%;
  }

  .onflow .num-flow::after {
    height: 20px;
    width: 140px;
  }
}

@media only screen and (max-width: 390px) {
  .onflow .num-flow::after {
    width: 100px;
  } 
}
